@charset "UTF-8";
body {
  margin: 20px;
}

.App {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 40px 20px;
}

.wrapper {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.form {
  font-size: 25px;
}
.form__input {
  margin: 10px;
  width: 200px;
}
.form__radio, .form__add, .form__back {
  margin: 10px;
}
.form__add, .form__back {
  background-color: darkseagreen;
  cursor: pointer;
  border: none;
}
.form__back {
  background-color: lightsalmon;
}
.form__radio {
  font-size: 20px;
  margin-right: 5px;
}
.form__radio:last-child {
  margin-right: 0;
}

.buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}
.buttons__prevMonth, .buttons__nextMonth, .buttons__prevWeek, .buttons__nextWeek, .buttons__prevYear, .buttons__nextYear {
  display: inline-block;
  border-radius: 4px;
  background-color: lightcoral;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 10px;
  padding: 5px;
  width: 60px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 7px;
}
.buttons__prevWeek, .buttons__nextWeek {
  background-color: lightsalmon;
}
.buttons__prevYear, .buttons__nextYear {
  background-color: #f4511e;
  text-align: center;
  font-size: 20px;
  width: 200px;
}
.buttons__prevYear, .buttons__nextYear span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.buttons__prevYear span:after {
  content: "«";
  position: absolute;
  opacity: 0;
  left: 0;
  transition: 0.5s;
}
.buttons__prevYear:hover span {
  padding-left: 25px;
  transition: 0.5s;
}
.buttons__prevYear:hover span:after {
  opacity: 1;
  left: 30px;
}
.buttons__nextYear span:after {
  content: "»";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -40px;
  transition: 0.5s;
}
.buttons__nextYear:hover span {
  padding-right: 25px;
}
.buttons__nextYear:hover span:after {
  opacity: 1;
  right: -1px;
}

.header {
  position: sticky;
  display: flex;
  justify-content: center;
  top: 0;
  z-index: 1;
  padding: 16px 0;
  background-color: #fff;
}
.header__select {
  outline: none;
  text-align: center;
  display: inline-block;
  border-radius: 4px;
  background-color: #008080;
  border: none;
  color: #FFFFFF;
  font-size: 15px;
  padding: 3px;
  width: 150px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.table {
  table-layout: fixed;
  border: 5px solid transparent;
  width: 100%;
  cursor: pointer;
  box-sizing: border-box;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), -23px 0 20px -23px rgba(0, 0, 0, 0.6), 23px 0 20px -23px rgba(0, 0, 0, 0.6), inset 0 0 40px rgba(0, 0, 0, 0.1);
}
.table ul {
  padding: 0;
}
.table__li {
  list-style: none;
  text-align: center;
  font-size: 12px;
  color: green;
}
.table__li--necessary {
  color: red;
}
.table__li--important {
  color: orange;
}
.table__li--meeting {
  color: yellow;
}
.table__td {
  text-align: center;
  width: 20px;
  font-size: 15px;
  font-weight: bold;
  border: 1px solid transparent;
  box-sizing: border-box;
}
.table__td--empty {
  border: transparent !important;
  box-shadow: none !important;
}
.table__td:nth-of-type(1), .table__td:nth-of-type(7) {
  color: red;
}
.table__caption {
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
  text-transform: uppercase;
  background: #efefef;
  padding-top: 10px;
  border-radius: 3px;
  padding-bottom: 10px;
  margin-bottom: 0;
  font-size: 30px;
}
.table__caption--days {
  font-size: 17px;
  color: teal;
  text-shadow: 0 4px 3px rgba(0, 0, 0, 0.2), 0 8px 13px rgba(0, 0, 0, 0.1), 0 18px 23px rgba(0, 0, 0, 0.1);
}

.wrapper__td {
  margin: 0 auto;
  width: 60px;
  border-radius: 10px;
}
.wrapper__td:hover {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  transition: box-shadow 0.5s;
}

.select-year {
  margin-bottom: 20px;
  height: 30px;
  margin-right: 20px;
}

.select-month {
  margin-bottom: 20px;
  height: 30px;
}

/*# sourceMappingURL=App.css.map */
